# Number features

This document contains features to:
- check if a tweet contains a digit (1/0)
- find the amount of numerical characters in a tweet (int)
- returns if a tweet contains a '%' sign or the word 'percentage' (1/0)

## Import packages

In [1]:
import pandas as pd
import numpy as np

## Functions

In [2]:
def check_for_numbers(tweet):
    #set default to 0
    contains_digit = 0

    #loop through words
    for w in tweet.split():
        #if the word is a mention or a link we don't count them
        if '@' in w or 'http' in w:
            pass
        else:
            #loop through characters
            for character in w:
                if character.isdigit():
                    #there is a digit
                    contains_digit = 1
                else: 
                    pass
    
    return contains_digit

def amount_of_numbers(tweet):
    #set default to 0
    digits = 0

    #loop through words
    for w in tweet.split():
        #if the word is a mention or a link we don't count them
        if '@' in w or 'http' in w:
            pass
        else:
            #loop through characters
            for character in w:
                if character.isdigit():
                    #there is a digit
                    digits += 1
                else: 
                    pass
    
    return digits

def percentage_use(tweet):
    #if percentage sign or word is in tweet than it's true (1) other is false (0)
    if '%' in tweet:
        return 1
    elif 'percentage' in tweet:
        return 1
    else:
        return 0

## Import DataFrame

In [3]:
#DataFrame
df = pd.read_csv('tweets_labeled.csv', index_col=0)
df.head()

                                                                  text  label
tweet_id
1161040537207463936  'RT @SenJeffMerkley: The Endangered Species Ac...      1
1176360756239118342  'RT @LindseyGrahamSC: Interesting concept -- i...      1
1099036648573145088  'RT @RealJamesWoods: #BuildTheWall #DeportThem...      0
1092915693203480577  'RT @PatriotJackiB: Why would the MEXICAN GOV’...      0
1149038450668187654  'RT @TheOnion: Sweden Announces Plan To Get 10...      0

## Apply functions

In [4]:
df['check_for_numbers'] = df['text'].apply(check_for_numbers)
df['amount_of_numbers'] = df['text'].apply(amount_of_numbers)
df['percentage_use'] = df['text'].apply(percentage_use)
df.head()

,text,label,check_for_numbers,amount_of_numbers,percentage_use
tweet_id,,,,,
1161040537207463936,'RT @SenJeffMerkley: The Endangered Species Ac...,1,0,0,0
1176360756239118342,'RT @LindseyGrahamSC: Interesting concept -- i...,1,0,0,0
1099036648573145088,'RT @RealJamesWoods: #BuildTheWall #DeportThem...,0,0,0,0
1092915693203480577,'RT @PatriotJackiB: Why would the MEXICAN GOV’...,0,0,0,0
1149038450668187654,'RT @TheOnion: Sweden Announces Plan To Get 10...,0,1,7,1

## Check out correlations

In [5]:
corr = df.corr()
corr

,label,check_for_numbers,amount_of_numbers,percentage_use
label,1.000000,0.004203,0.012547,0.037559
check_for_numbers,0.004203,1.000000,0.809928,0.252016
amount_of_numbers,0.012547,0.809928,1.000000,0.334511
percentage_use,0.037559,0.252016,0.334511,1.000000